<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IV_Play.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <IV_Play.Properties.Settings>
            <setting name="last_game" serializeAs="String">
                <value />
            </setting>
            <setting name="large_icon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Window_x" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="Window_y" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="window_width" serializeAs="String">
                <value>1015</value>
            </setting>
            <setting name="window_height" serializeAs="String">
                <value>432</value>
            </setting>
            <setting name="art_area" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="art_opacity" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="art_border" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="art_border_color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="art_border_width" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="art_type" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="game_list_font" serializeAs="String">
                <value>Arial, 9pt, style=Bold</value>
            </setting>
            <setting name="game_list_color" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="game_list_clone_color" serializeAs="String">
                <value>255, 128, 0</value>
            </setting>
            <setting name="favorites_color" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="MAME_EXE" serializeAs="String">
                <value />
            </setting>
            <setting name="bkground_image" serializeAs="String">
                <value>bkground.png</value>
            </setting>
            <setting name="bkground_directory" serializeAs="String">
                <value>bkground\</value>
            </setting>
            <setting name="icons_directory" serializeAs="String">
                <value>icons\</value>
            </setting>
            <setting name="GameListYear" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GameListManufacturer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="favorites_ini" serializeAs="String">
                <value>Favorites.ini</value>
            </setting>
            <setting name="rotate_background" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="favorites_mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="jumplist" serializeAs="String">
                <value />
            </setting>
            <setting name="art_view_folders" serializeAs="String">
                <value />
            </setting>
            <setting name="info_font" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="info_font_color" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="non_working_overlay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="command_line_switches" serializeAs="String">
                <value />
            </setting>
            <setting name="custom_colors" serializeAs="String">
                <value>16777215,16777215,16777215,16777215,16777215,16777215,16777215,16777215,16777215,16777215,16777215,16777215,16777215,16777215,16777215,16777215</value>
            </setting>
            <setting name="hide_nonworking_mechanical_games" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="filter_on_input" serializeAs="String">
                <value>False</value>
            </setting>
        </IV_Play.Properties.Settings>
    </userSettings>
</configuration>